html {
    background-color: rgb(11, 6, 32);
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(236, 228, 228);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h2 {
    color: rgb(236, 228, 228);
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    color: rgb(236, 228, 228);
    font-size: 16px;
    line-height: 1.5;
}



.experience {
    margin: 0rem 0;
    padding: 1rem;
    background-color: rgba(236, 228, 228, 0.05);
    border-bottom: 1px solid rgba(236, 228, 228, .5);
}

.experience, h2, p {
    color: rgb(236, 228, 228);
}
details {
    text-align: center;
    margin-bottom: 1.5rem;
    
}

summary {
    list-style: none;
    cursor: pointer;
    line-height: 1.5;
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-right: .5rem;
    transition: transform 0.3s;
}

details[open] summary i {
    transform: rotate(90deg);
}

.profile-header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 0;
    column-gap: 1rem;
    align-items: center;
}

.profile-header img {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin: 1rem;
}

.name {
    grid-column: 4 / 11;
    grid-row: 1 / 2;
    margin: 0;
}

.name h1 {
    margin: 1rem 0 0 0;
    font-size: 1.8rem;
}

.tagline {
    grid-column: 4 / 11;
    grid-row: 2 / 3;
    margin: 0;
}

.tagline p {
    color: rgb(236, 228, 228);
    font-size: 0.8rem;
}

.social {
    grid-column: 1 / 11;
    grid-row: 3 / 4;
    border-top: 1px solid rgba(236, 228, 228, .5);
    border-bottom: 1px solid rgba(236, 228, 228, .5);
    padding: 1rem 0;
    background: rgba(236, 228, 228, 0.1);
}
.social a {
    margin: 0 10px;
    color: rgb(236, 228, 228);
    text-decoration: none;
    font-size: 1rem;
}


